*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: darkgray;
}

.carusel{
    max-width: 1080px;
    max-height: 675px;
    margin: 40px auto;
    box-shadow: 25px 25px 25px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    position: relative;
    text-decoration: none;
}

h1 {
        position: absolute;
        bottom: 5rem;
        left: 0;
        right: 0;
        text-align: center;
        font-size: 1.8rem;
}


h3{
        position: absolute;
        bottom: 1.5rem;
        left: 0;
        right: 0;
        
        text-align: center;
        font-size: 1.3rem;
}

h1 span {
    background: rgba(255, 255, 255, 0.5);
    padding: 0.3rem 0.5rem;
    border-radius: 15px;

}

h3 span {
    background: rgba(255, 255, 255, 0.5);
    padding: 0.3rem 0.5rem;
    border-radius: 15px;
}

.left, .right{
    position: absolute;
    top: 45%;
    
}

.left a, .right a {
    font-size: 5rem;
    display: block;
    padding: 20px 0;
    text-decoration: none;
    color: white(0,0,0,0.5);
}

.left a:hover, .right a:hover{
    color: grey;
    
}

.left {
    left: 0;
}

.right {
    right: 0;
}

.circle{
    position: absolute;
    top: 10%;
    left:45%;
    font-size: 2rem;
        
}
.carusel .circle .actual a{
    color: rgba(255, 255, 255, 0.5);
    
}

.carusel img{
    width: 100%;
    border-radius: 15px;
}

div a{
    text-decoration: none;
    color: white;
}
